<body>
	<div class="form">
		<form action="save_edit_post" method="POST">
			<span><input type="text" placeholder="Edited Post" name="content" required="true"/></span>
			<input type="hidden" name="id" value="<%=id%>"/>
			<input type="submit" name="password" value="edit post" />
		</form>
	</div>
	<a href="/wall" >Back to the wall</a>
</body>

<style>
	body
	{
		background-color: #0d47a1;	
	}
	a
	{
		color: white;
		text-align: center;
		text-decoration: none;
		margin-left: 5%;
	}
	.form
	{
		margin-top: 5%;
		text-align: center;
	}
</style>





















