<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet"> 
<h1 class="heading" style="color: black;font-family: 'Cabin Sketch', cursive;" >SOCIAL NETWORK<h1>
<body>
	<div class="selectors" >
		<div>
			<form action="/signup" method="GET" class="signup" >
				<input type="submit" value="NEW USER">
			</form>
		</div>

		<div >
			<form action="/login" method="GET" class="login">
				<input type="submit" value="LOGIN">
			</form>
		</div>
	<div>
	<pre class="intro">
	Welcome to this Social Networking
	Site which is made using html , css
	on front-end and Ruby( SINATRA )
	at it's core;
	</pre>
</body>

<style>

	.heading
	{
		margin-top: 10px;
		text-align: center;
		font-size: 50px;
	}
	
	body 
	{ 
		background-image:url('http://www.wallpapereast.com/static/images/toys-wallpaper-hd-16339-17046-hd-wallpapers.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	} 

	.selectors
	{
		margin-top: 16%;
		margin-left: 20%;
	}
	.intro
	{
		margin-top: 5%;
		margin-left: -25%;
		font-family: 'Rancho', cursive;	
	}

</style>
